In [37]:
import pandas as pd

In [38]:
data = pd.read_csv("ar_properties.csv")
data.head()

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,bedrooms,bathrooms,surface_total,surface_covered,price,currency,price_period,title,property_type,operation_type
0,S0we3z3V2JpHUJreqQ2t/w==,Propiedad,2019-04-14,2019-06-14,2019-04-14,-34.943312,-54.929656,Uruguay,Maldonado,Punta del Este,...,NaN,1.0,45.0,40.0,13000.0,UYU,Mensual,Departamento - Roosevelt,Departamento,Alquiler
1,kMxcmAS8NvrynGBVbMOEaQ==,Propiedad,2019-04-14,2019-04-16,2019-04-14,-34.631810,-58.420599,Argentina,Capital Federal,Boedo,...,NaN,NaN,NaN,NaN,0.0,NaN,Mensual,PH - Boedo,PH,Venta
2,Ce3ojF+ZTOkB8d+LI9dpxg==,Propiedad,2019-04-14,9999-12-31,2019-04-14,NaN,NaN,Argentina,Bs.As. G.B.A. Zona Norte,NaN,...,NaN,1.0,200.0,NaN,NaN,NaN,NaN,Ituzaingo 1100 - $ 1 - Casa Alquiler,Casa,Alquiler
3,AUGpj3raGmOCiulSMGIBPA==,Propiedad,2019-04-14,9999-12-31,2019-04-14,-34.654705,-58.790894,Argentina,Bs.As. G.B.A. Zona Oeste,Moreno,...,NaN,2.0,460.0,100.0,NaN,NaN,Mensual,Dr. Vera 300 - Consulte precio - Casa en Venta,Casa,Venta
4,m+MwZmJl3OoxmfWcB//sBA==,Propiedad,2019-04-14,2019-07-09,2019-04-14,-34.654949,-58.787117,Argentina,Bs.As. G.B.A. Zona Oeste,Moreno,...,NaN,3.0,660.0,148.0,NaN,NaN,Mensual,L. N. Alem 2400 - Consulte precio - Casa en ...,Casa,Venta

In [39]:
datacaba = data[data["l2"] == "Capital Federal"].copy()
datacaba.drop(["l1","l2","id","title","l4","l5","l6"],axis=1,inplace=True)
datacaba.head()

,ad_type,start_date,end_date,created_on,lat,lon,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,price_period,property_type,operation_type
1,Propiedad,2019-04-14,2019-04-16,2019-04-14,-34.631810,-58.420599,Boedo,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Mensual,PH,Venta
8,Propiedad,2019-04-14,2019-04-29,2019-04-14,-34.603375,-58.434498,Almagro,NaN,NaN,NaN,1300.0,NaN,0.0,NaN,Mensual,Lote,Venta
10,Propiedad,2019-04-14,2019-04-29,2019-04-14,-34.590053,-58.436722,Palermo,NaN,NaN,NaN,352.0,NaN,0.0,NaN,Mensual,Lote,Venta
16,Propiedad,2019-04-14,2019-04-29,2019-04-14,-34.594131,-58.443732,Villa Crespo,NaN,NaN,NaN,101.0,NaN,0.0,NaN,Mensual,Lote,Venta
18,Propiedad,2019-04-14,2019-04-29,2019-04-14,-34.604827,-58.419040,Almagro,NaN,NaN,1.0,54.0,54.0,0.0,NaN,Mensual,Oficina,Venta

In [40]:
datacaba.shape

(124327, 17)

In [41]:
datacaba.isna().sum()

ad_type                0
start_date             0
end_date               0
created_on             0
lat                 5655
lon                 5655
l3                   676
rooms              29808
bedrooms           69698
bathrooms          17792
surface_total      11005
surface_covered    13860
price               2810
currency            6080
price_period       41494
property_type          0
operation_type         0
dtype: int64

In [42]:
datacaba.dropna(subset=["price","currency"],inplace=True)
datacaba.shape

(118247, 17)

In [43]:
set(datacaba["currency"])

{'ARS', 'USD'}

In [44]:
datacaba["currency"].value_counts()

USD    81601
ARS    36646
Name: currency, dtype: int64

In [45]:
datacaba = datacaba[datacaba["operation_type"] == "Venta"]

In [46]:
datacaba["property_type"].value_counts()

Departamento       53310
PH                  5796
Casa                3712
Lote                3559
Oficina             3239
Local comercial     3199
Cochera             1997
Otro                 673
Depósito             386
Name: property_type, dtype: int64

In [47]:
datacaba = datacaba[datacaba["property_type"].isin(["Departamento","PH","Casa"])]

In [48]:
datacaba["created_on"] = pd.to_datetime(datacaba["created_on"])

In [49]:
datacaba.drop(["start_date","end_date","ad_type"],axis=1,inplace=True)

In [50]:
datacaba = datacaba[datacaba["currency"] == "USD"].copy()

In [51]:
datacaba.drop(["currency","created_on"],axis=1,inplace=True)

In [53]:
datacaba

,lat,lon,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,price_period,property_type,operation_type
254,-34.652250,-58.385565,Barracas,NaN,NaN,NaN,300.0,180.0,320000.0,Mensual,PH,Venta
262,-34.628248,-58.406525,Boedo,6.0,NaN,2.0,178.0,240.0,500000.0,Mensual,Casa,Venta
270,-34.592796,-58.420930,Palermo,NaN,NaN,2.0,240.0,157.0,350000.0,Mensual,Casa,Venta
273,-34.565632,-58.465134,Belgrano,3.0,NaN,4.0,157.0,NaN,470000.0,NaN,Casa,Venta
275,-34.622177,-58.522724,Versalles,NaN,NaN,1.0,140.0,110.0,155000.0,NaN,Casa,Venta
...,...,...,...,...,...,...,...,...,...,...,...,...
388879,-34.611768,-58.384733,Monserrat,6.0,5.0,2.0,288.0,288.0,285000.0,Mensual,Departamento,Venta
388880,-34.594032,-58.407581,Barrio Norte,6.0,5.0,4.0,206.0,186.0,620000.0,NaN,Departamento,Venta
388881,-34.597925,-58.508144,Villa Devoto,6.0,5.0,3.0,284.0,182.0,850000.0,Mensual,Departamento,Venta
388887,-34.598829,-58.403327,Barrio Norte,8.0,7.0,5.0,601.0,400.0,650000.0,Mensual,PH,Venta
388889,-34.612178,-58.400145,Balvanera,9.0,9.0,3.0,187.0,152.0,140000.0,NaN,Departamento,Venta

In [54]:
datacaba.drop(["operation_type","price_period"],axis=1,inplace=True)

In [58]:
datacaba["barrio"] = datacaba["l3"]
del datacaba["l3"]

In [63]:
datacaba.dropna(subset=["lat","lon","barrio"],inplace=True)

In [64]:
datacaba.shape

(59017, 10)

In [73]:
datacaba = datacaba[datacaba["price"] >= 40000]

In [81]:
datacaba = datacaba[datacaba["price"] <= 2_000_000]

In [83]:
datacaba.shape

(58571, 10)

In [84]:
datacaba.to_csv("CABAprop.csv",index=False)